@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #EEEEEE;
    --foreground: #222831;

    /* --card: #EEEEEE;
    --card-foreground: #222831; */

    /* --navbar: #00ADB5;
    --navbar-foreground: #EEEEEE; */

    --primary: #00ADB5;
    --primary-foreground: #EEEEEE;

    --secondary: #393E46;
    --secondary-foreground: #EEEEEE;

    /* --accent: #202f7e;
    --accent-foreground: #fff;*/

    --muted: #9c9fa3;
    --muted-foreground: #000;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --trans: #ffffff00;
  }

  .dark {
    --background: #222831;
    --foreground: #EEEEEE;

    /* --card: #EEEEEE;
    --card-foreground: #222831;

    --navbar: #99c4ff;
    --navbar-foreground: #001839; */

    --primary: #89cff0;
    --primary-foreground: #EEEEEE;

    --secondary: #EEEEEE;
    --secondary-foreground: #393E46;

    /* --accent: #804a00;
    --accent-foreground: #EEEEEE; */

    --muted: #9c9fa3;
    --muted-foreground: #222831;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}